.style1{
    background: linear-gradient(to right, #e3140d, #f5f107);
    border-radius: 15px;
    box-shadow:4px 4px 5px 3px #999;
    font-size:30px;
    text-align: center;


}
.style2{
    background-color: cornflowerblue;
}